body{
    background-image: url(gotham4.jpg);
    background-repeat:no-repeat;
    background-size: cover;
	margin:0;
	padding:0;
	font-size:13px;
	font-family:"helvetica",sans-serif;
	color:#F8F8F2;
    
	
}
#header{
    background-repeat: no-repeat;
    
}
#header img {
  width: 200px;
  height: 100px;
  margin: 30px 20px 20px 0;  
  }

img{margin:0; padding:0; border:none;}

a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

fieldset {
    border: 0px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 2.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
    width:200px;
}

input[type="text"], {
    border: 0px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1em;
    color: #444;
    width:200px;
}

input[type="submit"],
input[type="reset"]
 {
    font-size: 1em;
    padding: 2px;
    font-family:"helvetica",sans-serif;
}


table {
    border: solid 0px #e8eef4;
    border-collapse: collapse;
    background-image: url(transparent.png);
}

table td {
    padding: 5px;
    border: solid 0px #e8eef4;
    
    
}

table th {
    padding: 6px 5px;
    text-align: left;
    
}





